[Unit]
Description=Mute sound on login

[Service]
Type=oneshot
ExecStart=/usr/bin/amixer set Master off

[Install]
# WantedBy=sway-session.target
WantedBy=graphical-session.target
